MEDICATION_SERVER_HOST=127.0.0.1
MEDICATION_SERVER_PORT=8001

MEDICATION_SCAN_ENDPOINT="your api.crpt.ru"

MEDICATION_MONGO_DATABASE=medication
MEDICATION_MONGO_USER=fso
MEDICATION_MONGO_PASSWORD=12345

MEDICATION_VIDAL_API_ENDPOINT="https://www.vidal.ru/api/rest/v1/product/list"
MEDICATION_VIDAL_API_TOKEN="your_token"
MEDICATION_VIDAL_API_TIMEOUT="10s"