# for substitution expressions see:
# https://github.com/drone/envsubst?tab=readme-ov-file

server:
  host: ${MEDICATION_SERVER_HOST:-0.0.0.0}
  port: ${MEDICATION_SERVER_PORT:-8000}

scan:
  host: ${CLIENT_API_HOST}
  timeout: ${TIMEOUT:-10s}

auth:
  baseUrl: http://auth:8000
  path: /session
  timeout: 30s
  cookieName: session_id
  cookieDomain: myhealthbox.ddns.net
