# for substitution expressions see:
# https://github.com/drone/envsubst?tab=readme-ov-file

server:
  host: ${MEDICATION_SERVER_HOST:-0.0.0.0}
  port: ${MEDICATION_SERVER_PORT:-8000}

scan:
  host: ${CLIENT_API_HOST}
  timeout: ${TIMEOUT:-10s}

auth:
  baseUrl: ${BASE_URL:-http://0.0.0.0:8000}
  path: ${PATH:-/session}
  timeout: ${TIMEOUT:-30s}
  cookieName: ${COOKIE_NAME:-session_id}
  cookieDomain: ${COOKIE_DOMAIN:-/}
