# for substitution expressions see:
# https://github.com/drone/envsubst?tab=readme-ov-file

server:
  host: ${MEDICATION_SERVER_HOST:-0.0.0.0}
  port: ${MEDICATION_SERVER_PORT:-8000}

scan:
  host: ${MEDICATION_SCAN_ENDPOINT}
  timeout: ${SCAN_TIMEOUT:-10s}

auth:
  baseUrl: ${BASE_URL:-http://0.0.0.0:8000}
  path: ${PATH:-/session}
  timeout: ${AUTH_TIMEOUT:-30s}
  cookieName: ${COOKIE_NAME:-session_id}
  cookieDomain: ${COOKIE_DOMAIN:-/}
vidal:
  client:
    endpoint: ${MEDICATION_VIDAL_API_ENDPOINT:-https://www.vidal.ru/api/rest/v1/product/list}
    api_token: ${MEDICATION_VIDAL_API_TOKEN}
    timeout: ${MEDICATION_VIDAL_API_TIMEOUT:-10s}
  storage:
    host: ${MEDICATION_MONGO_HOST:-mongodb}
    port: ${MEDICATION_MONGO_PORT:-27017}
    database: ${MEDICATION_MONGO_DATABASE}
    user: ${MEDICATION_MONGO_USER}
    password: ${MEDICATION_MONGO_PASSWORD}
    log: true
